body{
    background-image: url(https://kartinkin.com/uploads/posts/2021-07/1626975036_32-kartinkin-com-p-krasnii-poligonalnii-fon-krasivo-33.jpg) ;

}
.container{
    margin: 50px auto;
    max-width: 600px;
    background-color: #C4C4C4;
    min-height: 300px;
    border-radius: 40px;
}
.slider{
    padding: 20px;
}

.slider-container{
    min-height: 470px;
    width: 100%;
}
.slider-img{
    width: 100%;
    height: auto;   
}

.slider-text-nav{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-radio{
    cursor: pointer;
}
@media(max-width:430px){
    .container{
        border-radius:20px;
    }
    .slider-container{
        min-height: 220px;
    }
    .slider-text-nav{
        flex-direction: column-reverse;
    }
    .nav{
        align-self: center;
    }
    .text{
        align-self: start;
        margin-top: 20px;
    }
}